body{
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/educ.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
}
a:hover{
    opacity: 0.7s;
}
.logo{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.menu{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 20vh;
}
.dropdown-menu{
    position: fixed;
    width: 20%;
    top: 130px;
    list-style: none;
    display: flex;
    right: -100%;
    justify-content: center;
    transition: all .5s;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}
.dropdown-menu li{
    letter-spacing: 3px;
    display: block;
    margin: 20px;
    line-height: 30px;
}
.dropdown-menu li img{
    background-size: cover;
    height: 50px;
}
.container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
a:active, a:hover{
    background-color: blueviolet;
    background: none;
}
#checkbox-menu{
    opacity: 0;
    position: absolute;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 20px;
    width: 40px;
}
label span{
    position: absolute ;
    height: 5px;
    width: 100%;
    display: block;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.651);
    transition: 0.5s ease-in-out;
}
label span:nth-child(1){
    top: 0px;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}
#checkbox-menu:checked ~ ul{
    right: 0px;
}
#checkbox-menu:checked ~ main{
    display: none;
}

/* Main */
main{
    display: flex;
}
footer{
    display: flex;
    position: relative;
}