body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.titulo{
    text-align: center;
}
.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.texto img{
    width: 5rem;
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
}
a:hover{
    opacity: 0.7s;
}
.logo{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.menu{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0000009d;
    height: 25vh;
}
.dropdown-menu{
    position: fixed;
    width: 25vw;
    top: 25vh;
    list-style: none;
    display: flex;
    right: -100%;
    justify-content: center;
    transition: all .5s;
    flex-direction: column;
    align-items: center;
    background-color: #0000009d;
    height: 80vh;
    align-items: center;
}
.dropdown-menu a img{
    width: 3rem;
    
}
.dropdown-menu li{
    letter-spacing: 3px;
    display: block;
    line-height: 30px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.dropdown-menu li img{
    background-size: cover;
    height: 50px;
    align-items: center;
}
.container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
a:active, a:hover{
    background-color: blueviolet;
    background: none;
}
#checkbox-menu{
    opacity: 0;
    position: absolute;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 20px;
    width: 40px;
}
label span{
    position: absolute ;
    height: 5px;
    width: 100%;
    display: block;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}
label span:nth-child(1){
    top: 0px;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-405deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(405deg);
    top: 8px;
}
#checkbox-menu:checked ~ ul{
    right: 0px;
}
#checkbox-menu:checked ~ main{
    display: none;
}

/* Main */
main{
    display: flex;
}
section{
    width: 100vw;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 6vw;
    gap: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards div{
    background-color: whitesmoke;
    box-shadow: 0px 5px  50px #111111a8;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    display: block;
    width: 30rem;
    height: 30vh;
}
.cards div h1 img a{
    padding: 30px;
    height: 100%;
}
.cards img{
    height: 10vh;
    background-position: center;
    background-size: cover;
}
.cards p{
    height: 10%;
    flex-wrap: initial;
}
/* Footer */
footer{
    display: flex;
    position: relative;
}