
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 1.2rem;
}

#resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2px;
    color: whitesmoke;
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}
label{
    color: whitesmoke;
    display: block;
    
}
.butoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.butoes input{
    border: 1px solid black;
    background-color: rgb(10, 196, 10);
    cursor: pointer;
    padding: 10px;
    font-family: 'Sora', sans-serif;
    color: azure;
    border-radius: 5%;
}
.butoes #botaoReset input{
    background-color: rgba(255, 0, 0, 0.815);
}
.form label{
    width: inherit;
    text-align: left;
    font-size: 1rem;
}

