body{
    height: 100vh;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    align-items: center;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}
#texto{
    display: flex;
    padding-top: 20px;
    gap: 50px;
    color: azure;
}
#texto input{
    width: 100%;
    max-width: 50px;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}
#resultado{
    background-color: rgba(0, 0, 0, 0.795);
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
    color: azure;
    margin-top: 5%;
    overflow: auto;
    position: relative;
}
#resultado p{
    text-align: center;
    color: rgba(255, 255, 255, 0.788);
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 12rem;
}
#botoes{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#botoes > input{
    background-color: rgb(10, 196, 10);
    color: honeydew;
    cursor: pointer;
}
#botoes > input:hover{
    transform: scale(1.1);
}
#botoes input{
    padding: 10px;
    border-radius: 5% 5% 0 0;
    box-shadow: rgba(0, 0, 0, 0.644);
    border: 2px solid rgba(0, 0, 0, 0.644);
    font-size: 30px;
    font-family: 'Sora', sans-serif;
}
#botoes #botaoReset input{
    background-color: rgba(255, 0, 0, 0.815);
    color: honeydew;
    cursor: pointer;
}
#botoes #botaoReset input:hover{
    transform: scale(1.1);
}